</div>
<footer class="footer text-left d-flex align-items-center ps-3">
    <span class="fs-3 text-light">&copy; Adan Einstein</span>
</footer>
</div>
</body>
</html>

<script src="../js/home.js"></script>