<%- include('./partials/header.ejs')%>
<div class="container">
	<div class="row mt-5">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form action="/add-categoria" method="post">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="nome" name="nome" required/>
					<label for="nome">Nome da categoria:</label>
				</div>
                <div class="d-flex mt-3">
                    <a href="/" class="btn btn-lg btn-danger w-50 me-1">Voltar</a>
                    <button type="submit" class="btn btn-lg btn-primary w-50 ms-1">Cadastrar</button>
                </div>
            </form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<%- include('./partials/footer.ejs')%>
