<%- include('./partials/header.ejs')%>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="/add-formula" method="post">
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="nome"
                        name="nome"
                        required
                    />
                    <label for="nome">Nome da fórmula:</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="autor"
                        name="autor"
                        required
                    />
                    <label for="autor">Autor:</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="categoria"
                        name="categoria"
                        required
                    />
                    <label for="categoria">Categoria:</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea
                        class="form-control"
                        id="descricao"
                        style="height: 100px"
                        required
                        name="descricao"
                    ></textarea>
                    <label for="descricao">Descrição:</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea
                        class="form-control"
                        id="formula"
                        style="height: 200px"
                        name="formula"
                        required
                    ></textarea>
                    <label for="formula">Fórmula:</label>
                </div>
                <div class="d-flex justify-content-end">
                    <a
                        class="btn btn-dark btn-sm"
                        target="_blank"
                        href="https://webdemo.myscript.com/views/math/index.html"
                        >Clique aqui para formatar sua equação em LaTeX</a
                    >
                </div>
                <div class="d-flex my-3">
                    <a href="/" class="btn btn-lg btn-danger w-50 me-1"
                        >Voltar</a
                    >
                    <button
                        type="submit"
                        class="btn btn-lg btn-primary w-50 ms-1"
                    >
                        Cadastrar
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<%- include('./partials/footer.ejs')%>
