<%- include('./partials/header.ejs')%>
<div class="h-100 d-flex justify-content-around align-items-center">
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <a href="add-formula" class="btn btn-lg btn-dark w-100"
                    >Cadastrar fórmula</a
                >
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="list-formulas" class="btn btn-lg btn-dark w-100"
                    >Listar fórmulas</a
                >
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs')%>
